.timepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  border-radius: $border-radius-base;
  height:224px;
  width:70px !important;
  min-width:70px;

  .times {
    overflow: auto;
    height: 224px;
  }

  a {
    border-radius: $border-radius-base;
    display: block;
    padding: 0 1em;

    &:hover {
      background: $gray-lighter;
      cursor: pointer;
    }
    &.night {
      color: $gray-light;
    }
    &.active,
    &.active:hover {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    }
  }
}

@include button-variant(".timepicker a.active,.timepicker a.active:hover", $btn-primary-color, $btn-primary-bg, $btn-primary-border);